:root {
    --palette-white: #ffffff;
    --palette-black: #000000;
    --palette-dark-blue: #13234c;

    --palette-gray-dark: #687189;
    --palette-gray-medium-dark: #80879a;
    --palette-gray-medium: #b1b4bd;
    --palette-gray-light: #adb0b9;
    --palette-gray-lighter: #a3a7b3;
    --palette-gray-lightest: #d9d9d9;
    --palette-gray-neutral: #b1b1b1;
}
